@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


/*--General--*/
body {
    font-family: "Itim", sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(219, 199, 199);
    background-color: #343a40;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 80vh;
    
}

/*--Navigation Bar--*/
nav {
    margin: 0;
    padding: 0;
    line-height: 25px;
    width: 100%;
    
}
.navbar-toggler {
    margin-bottom: 11px;
    background-color: #343a40;
    border: 2px solid #343a40;
    border-radius: 5px;

}

.navbar-toggler-icon {
     color: rgb(219, 199, 199);
     
}

.navbar-toggler:hover {
    background-color: #777777;
}

/*---------------logo-------*/
.logo {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(219, 199, 199);
     ;
}

/*-collapse navbar-*/

.nav-bar-item a {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    border-color: rgb(219, 199, 199);
}

.navbar-dark .navbar-toggler {
    border-color: rgb(219, 199, 199);
}

button:focus {
    background-color:rgb(219, 199, 199);
}
/*-hero images-*/

#hero-outer {
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.hero-image {
    background: linear-gradient(rgba(29, 28, 28, 0.6),rgba(29, 28, 28, 0.6)), url("../images/exe1.jpg") no-repeat top center;
    width: 100%;
    height: 500px;
    overflow: none;
    animation: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom{
     from{
         transform: scale(1);

     }
     to{
         transform: scale(1.1);
     }
}
/*-Credit Image credit to Pain Free Physiotherapy Clinic-*/

.jumbotron {
    background-color: transparent;
    padding-top: 33%;
    padding-left: 40%;
    color: rgb(219, 199, 199);
}

@media screen and (max-width: 500px){
    .quote{
        font-size: 40px;
        text-align: center;
    }
    .hero-image {
    background: linear-gradient(rgba(29, 28, 28, 0.6),rgba(29, 28, 28, 0.6)), url("../images/exe1.jpg") no-repeat top center fixed;
    min-height: 200px;
    width: 100%;
    height: 200px;
    background-size: auto;
    overflow: none;
    animation: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.therapy-quote {
    color:rgb(219, 199, 199);
}
@media screen and (max-width:280px){
    .quote{
        padding-right: 70px;
        text-align: center;
        font-size: 30px; 

        
    }
}

}
.therapy-quote {
    color:rgb(219, 199, 199);
}
/*information*/
.container-fluid {
    padding: 0;
    margin: 0;
}

.information{
    width: 100%;
    height: 300px;
    background-color:transparent;
    text-align: center;
    padding-top: 15px;
    background-size: cover;
    align-content: space-between;
    border-spacing: 15px;
    justify-content: space-between;
}

.information-heading {
    display: inline;
    font-family: "Montserrat", sans-serif;
    color:rgb(219, 199, 199);
    font-size: 30px
}
.information-heading-list {
     color: rgb(219, 199, 199);
     font-size: 18px;
}

.heading-list-items {
    color:rgb(219, 199, 199);
    font-size: 17px;
}

.information-para {
    color: rgb(219, 199, 199);
    font-size: 17px;
}
@media screen and (max-width:532px){
     .information{
    width: 100%;
    height: 300px;
    background-color:transparent;
    text-align: center;
    padding-top: 15px;
    background-size: cover;
    padding-bottom: 50px;
    }
    .information-heading {
    display: inline;
    font-family: "Montserrat", sans-serif;
    color:rgb(219, 199, 199);
    font-size: 30px
}
.information-heading-list {
     color: rgb(219, 199, 199);
     font-size: 17px;
}

.heading-list-items {
    color:rgb(219, 199, 199);
    font-size: 15px;
}

.information-para {
    color: rgb(219, 199, 199);
    font-size: 15px;
    }
    @media screen and (max-width: 280px){
      .information{
    width: 100%;
    height: 300px;
    background-color:transparent;
    text-align: center;
    padding-top: 15px;
    background-size: cover;
    padding-bottom: 50px;
    }
    .information-heading {
    display: inline;
    font-family: "Montserrat", sans-serif;
    color:rgb(219, 199, 199);
    font-size: 25px
}
.information-heading-list {
     color: rgb(219, 199, 199);
     font-size: 13px;
}

.heading-list-items {
    color:rgb(219, 199, 199);
    font-size: 12px;
}

.information-para {
    color: rgb(219, 199, 199);
    font-size: 12px;
    }   
        
    }   
}

/*-services-*/

.fa-dumbbell {
    color: rgb(219, 199, 199);
    padding-right: 5px;
}

.fa-users {
    color: rgb(219, 199, 199);
    padding-right: 5px;
}

.fa-clinic-medical {
    color: rgb(219, 199, 199);
    padding-right: 5px;
}

.fa-house-user {
    color: rgb(219, 199, 199);
    padding-right: 5px;
}

.fa-laptop-house {
    color: rgb(219, 199, 199);
    padding-right: 5px;
}
/*-Services-*/

.img-thumbnail{
    background: url("../images/tele.jpg")border-box center;
    max-width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 30px;
    opacity: 0.78;
}

.img-thumbnail-1{
    background: url("../images/homecare.jpg")border-box center;
    max-width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 30px;
    opacity: 0.78;
}
.img-thumbnail-2 {
    background: url("../images/logo.jpg")border-box center; 
    max-width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 30px;
    opacity: 0.78;
}

.img-thumbnail-3 {
    background: url("../images/slip1.jpg")border-box center center; 
    max-width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 30px;
    opacity: 0.78;
}
/*-Credit to Dioni De Guzman,PT and Hipwallpaper.com-*/

/*--about--*/

.relaxation {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("../images/exe2.jpg") no-repeat top center;
    width: 100%;
    height: 800px;
    background-size: cover;
    opacity: 0.85;
    padding-bottom: 10px;
    }
/*Credit to Ryan, Cunningham and Hipwallpaper.com*/


.about {
    font-size: 200px;
    color: rgb(219, 199, 199);
    padding-top: 50px;
    height: 200px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
    margin-top: 8px;
}

@media screen and (max-width: 945px){
    .about {
    font-size: 15px;
    color: rgb(219, 199, 199);
    padding-top: 15px;
    height: 400px;
    }
    
    h2 {
    font-size: 20px;
    }

    p {
    font-size: 19px;
    margin-top: 8px;
    }
}
@media screen and (max-width: 685px){
    .about {
    font-size: 15px;
    color: rgb(219, 199, 199);
    padding-top: 15px;
    height: 400px;
    }
    
    h2 {
    font-size: 20px;
    }

    p {
    font-size: 18px;
    margin-top: 8px;
    line-height: 22px;
    }

}

@media screen and (max-width: 530px){
    .about {
    font-size: 15px;
    color: rgb(219, 199, 199);
    padding-top: 15px;
    height: 400px;
    }
    
    h2 {
    font-size: 17px;
    }

    p {
    font-size: 15px;
    margin-top: 8px;
    line-height: 17px;
    }
}

@media screen and (max-width: 356px){
    .about {
    font-size: 15px;
    color: rgb(219, 199, 199);
    padding-top: 15px;
    height: 400px;
    }
    
    h2 {
    font-size: 15px;
    }

    p {
    font-size: 14px;
    margin-top: 8px;
    line-height: 15px;
    }
}
.block-divider-about {
    width: 100px;
    height: 5px;
    border: 0px;
    background-color: rgb(219, 199, 199);
    border-radius: 5px;
}



/*-footer-*/

footer {
    background-color: #343a40;;
    height: 35%;
    width: 100%;
    padding-top: 10px;

}

.company-address {
    font-size: 100%;
    letter-spacing: 2px;
    color: rgb(219, 199, 199);
}

.company-address p {
    font-size: 100%;
    letter-spacing: 2px;
    padding: 20px 50px;
}

.social  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    
}

.social-media {
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    align-content: space-around;
    color: rgb(219, 199, 199);
}


.social-media-inline {
    padding-bottom: 100px;
}

.social-media-inline li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: rgb(219, 199, 199);
    background: #080808;
}
.company-address .social-media-inline {
    display: flex;
    justify-content: center;
    align-content: center;
}

.block-divider {
    width: 500px;
    height: 5px;
    border: 0px;
    background-color: rgb(219, 199, 199);
    border-radius: 5px;
    
}

/*-Contact-*/


.btn {
  background-color: rgb(219, 199, 199);
  color: #777777;
  border-radius: 10px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.404);
}